<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #D7D0C8;"></span>
		<span class="sg-label">
			$color-brand-pastel-grey <br />
			#D7D0C8
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C8C6AF;"></span>
		<span class="sg-label">
			$color-brand-pale-silver <br />
			#C8C6AF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #95A78D;"></span>
		<span class="sg-label">
			$color-brand-spanish-grey <br />
			#95A78D
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E58F65;"></span>
		<span class="sg-label">
			$color-brand-middle-red <br />
			#E58F65
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #91A8A4;"></span>
		<span class="sg-label">
			$color-brand-cadet-grey <br />
			#91A8A4
		</span>
	</li>
</ul>
